<html>
    <head>
       <title>Form Test Index</title>
    </head>
    <body>
      <h1>Dojo Survey</h1>
      <form action="/results" method="POST">

            <label for="useremail">Email</label>
            <input type="text" name="useremail" value="">
            <br>
            <select name="location">
                <option value="Chicago">Chicago</option>
                <option value="New_york" >New York</option>
                <option value="San_Diego">San Diego</option>
            </select>
            <br>
             <select name="lan">
                <option value="python">Python</option>
                <option value="js">Javascript</option>
                <option value="cpp">C++</option>
            </select>
            <br>
            <textarea name='comment'></textarea> 
            <br>
            <input type="submit" value="Login">
           

      </form>
    </body>
</html>
