<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the great number game!</h1>
    <h2>I am thinking of a number between 1 and 100</h2>
    <h3>take a guess!!!!</h3>
    <form action="/answer" method="POST">
    <input type="text" name="guess">
   
    <input type="submit" name="" value="Submit"> 
    <p>{{message}}</p>
    </form>
    <form action="/replay">
        <input type="submit" name="" value="Replay"> 
    </form>
    
  
</body>
</html>